/*  #131316 - black 
    #E5E5E5 - white
    #4AE290 - green
    #f3f3f3 - gray
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Inter', sans-serif;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
}
.main-container{
    padding: 0 20px;
}
main{
    padding-bottom: 160px;
}
/* -------------------------- HEADER -------------------------------------- */
.nav{
    display: none;
}
.header {
    position: relative;
    padding: 252px 62px 248px 20px;
    background-image: url('./img/Hero\ Img.png');
    background-size: 77%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #131316;
}
.header__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}
.header__title span{
    color: #4AE290;
}
.header__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #DEDEE3;
    margin: 32px 0 32px 0;
}
.header__btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #131316;
    padding: 12px 30px;
}
.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #131316;
    padding: 170px 0 129px 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 300ms linear;
}
.active-menu{
    transform: translateX(0%);
    transition: transform 300ms linear;  
}
.mobile-logo__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    margin-bottom: 107px;
    width: 100%;  
}
.mobile-logo {
    display: inline-block;
    width: 85px;
    height: 23px;
    background-image: url('./img/Logo.png');
    background-size: contain;
}
.mobile-menu-btn {
    display: inline-block;
    width: 40px;
    height: 21px;
    background-image: url('./img/Menu\ Button.png');
    background-size: contain;
}
.open-burger{
    background-image: url('./img/Menu\ ButtonClose.png');
}
.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-nav__item {
    display: inline-block;
    padding: 0 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #E5E5E5;
    margin-bottom: 32px;
}
.mobile-nav__item:hover{
    background-color: #E5E5E5;
    color: #131316;
}
.enter-btn-container {
    font-size: 0;
    display: flex;
    justify-content: center;
}
.log-in, .sign-up {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 14px 40px;
    color: #E5E5E5;
}
.log-in{
    background-color: transparent;
}
.sign-up {
    background-color: #4AE290;
}
/* -------------------------------------------------------------------------------------------- */


/* ------------------------------------------ mission section --------------------------------- */
.mission, .price, .faq {
    padding: 80px 20px;
   
}
.mission-container__title{
    width: 251px;
    height: 80px;
    background-image: url('./img/titleBckg/Vector.png');
    background-repeat: no-repeat;
    background-size: 32%;
    margin-bottom: 32px;
}
.section-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 300%;
    color: #131316;
    text-align: right;   
}
.section-title span{
    color: #4AE290;
}
.mission__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #595962;
    margin-bottom: 32px;
}
.mission__btn {
    width: 118px;
    height: 52px;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #131316;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mission__btn span{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('./img/sliderR.png');
    background-repeat: no-repeat;
    background-size: contain;

}
/* ----------------------------------------------------------------------------------------------- */

/* --------------------------- training section -------------------------------------------------- */
.training{
    padding: 80px 0;
}
.training-container__title{
    margin-left: 20px;
    width: 351px;
    height: 80px;
    background-image: url('./img/titleBckg/clarity_calendar-solid.png');
    background-repeat: no-repeat;
    background-size: 26%;
    margin-bottom: 32px;
}
/* ----------------------------------------------------------------------------------------------- */

/* ----------------------------- pricing --------------------------------------------------------- */
.price-container__title{
    width: 251px;
    height: 80px;
    background-image: url('./img/titleBckg/Vector\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 26%;
    margin-bottom: 50px;
}
.price__block {
    padding: 40px 39px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic {
    background-color: #E5E5E5;
}
.premium {
    background-color: #131316;
}
.elite {
    background-color: #E5E5E5;
}
.black .price__amount{
    color: #FFFFFF;
}
.black .price__amount--quality{
    color: #131316;
    background-color: #FFFFFF;
}
.black .price__info--text{
    color: #FFFFFF;
}
.gray .price__amount--quality{
    color: #FFFFFF;
    background-color: #131316;
}
.price__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__amount--quality{
    display: inline-block;
    padding: 4px 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}
.price__amount--price{
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}
.price__amount--price span{
    font-size: 20px;
    line-height: 30px;
}
.price__amoutn--period{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.price__info {
}
.price__info--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
.price__info--text span{
    display: inline-block;
    width: 20px;
    height: 20px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    }
.gray .price__info--text span{   
    background-image: url('./img/blackCheck.png');  
}
.black .price__info--text span{
    background-image: url('./img/whiteCheck.png');
}
.price__info--btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #131316;
    padding: 14px 40px;
    border: 1px solid #131316;
    border-radius: 1px;
    display: inline-block;
    margin-top: 32px;
}
.black .price__info--btn{
    background-color: #FFFFFF;
}

/* ----------------------------------------------------------------------------------------------- */

/* -------------------------------- community ---------------------------------------------------- */
.community{
    padding: 80px 0;
}
.community-container__title{
    padding: 0 80px;
    width: 245px;
    height: 80px;
    background-image: url('./img/titleBckg/Speech\ Icon.png');
    background-repeat: no-repeat;
    background-size: 26%;
    margin-bottom: 50px;
}
/* ----------------------------------------------------------------------------------------------- */

/* ----------------------------------- FAQ ------------------------------------------------------- */
.faq-container__title{
    width: 192px;
    height: 80px;
    background-image: url('./img/titleBckg/FAQ.png');
    background-repeat: no-repeat;
    background-size: 44%;
    margin-bottom: 50px;
    background-position-x: 23%;
}
.section-title{
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #131316;
    text-align: right;
}
.faq-list {
    padding: 50px 20px 0 20px;
}
.faq-list__item {
    border: 1px solid rgba(19, 19, 22, 0.1);
    border-radius: 2px;
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #131316;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.faq-list__title{
    max-width: 90%;
}
.faq-list__toggle {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('./img/checkUp.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}
.faq-list__text {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #595962;
    margin-top: 16px;
}
/* ----------------------------------------------------------------------------------------------- */

/* --------------------------------------------- footer ------------------------------------------ */
.footer {
   background-color: #131316; 
}
.prefooter {
    width: 100%;
    height: 502px;
    position: relative;
}
.img-wrap{
    display: inline-block;
    position: absolute;
    top: -80px;
    left: 0;
}
.prefooter__img {
    display: block;
    width: 276px;
}
.prefooter__text {
    width: 348px;
    position: absolute;
    top: 216px;
    left: 30px;
    z-index: 2;
}
.prefooter__title {
    /* width: 257px; */
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.prefooter__title span{
    color: #4AE290;
}
.prefooter__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.bottom-footer {
    padding: 51px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer-logo {
    width: 85px;
    height: 23px;
    background-image: url('./img/Logo.png');
    background-size: contain;
}
.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #9797A2;
}

/* ----------------------------------------------------------------------------------------------- */

/* --------------------------------------- FIRST SLIDER ------------------------------------------ */
.slick-slider{
    overflow: hidden;
    position: relative;
}
.slick-list{
    /* overflow: hidden; */
}
.first-slider .first-slider__img{
    width: 220px !important;
    height: 220px;
    margin-right: 10px;
}
.first-slider .slick-arrow{
    position: absolute;
    top: 110%;
    z-index: 2;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: contain;
}
.first-slider .slick-prev{
    left: 20%;
    background-image: url('./img/sliderL.png');
}
.first-slider .slick-next{
    right: 20%;
    background-image: url('./img/sliderR.png');
}


.second-slider .second-slider__img{
    width: 300px !important;
    height: 400px;
    margin-right: 10px;
}


@media (min-width: 768px) {
    .mission, .price, .faq {
        padding: 110px 107px 150px 107px;   
    }
    .header {
        background-image: url('./img/Hero\ Image.png');
    }
    .header__wrap{
        width: 527px;
    }
    .header__btn{
        padding: 14px 40px;
    }
    .section-title{
        font-size: 50px;
        line-height: 240%;
        width: 100%;
        text-align: center;
    }
    .mission-container__title, .training-container__title, .price-container__title, .community-container__title, .faq-container__title{
        width: 50%;
        height: 120px;
        /* background-size: 15%;
        background-position-x: 10%; */
    }
    .mission-container__title{
        background-size: 25%;
        background-position-x: 10%;
    }
    .training-container__title{
        background-size: 15%;
        background-position-x: 15%;
    }
    .price-container__title{
        background-size: 18%;
        background-position-x: 15%;
    }
    .community-container__title{
        background-size: 15%;
        background-position-x: 27%;
    }
    .faq-container__title{
        background: none;
    }
    .faq{
        background-image: url('./img/titleBckg/Background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .prefooter__title{
        font-size: 60px;
line-height: 62px;
    }
    .prefooter__descr{
        font-size: 20px;
line-height: 32px;
    }
    .prefooter__text{
        width: 471px;
        top: 97px;
        left: 38%;
    }
    .img-wrap{
        left: -4%;
    }
    .prefooter__img {
        width: 442px;
    }
}

@media (min-width: 998px) {
    .mobile-logo__container{
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    .header{
        padding: 50px 80px 174px 80px;
        background-size: 42%;
        background-position-x: 75%;
    }
    .header__wrap{
        margin: 252px 0 0 120px;
    }
    .header__title {
        font-size: 60px;
        line-height: 62px;
        margin-bottom: 36px;
    }
    .header__descr {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 42px;
    }
    .header__btn {
        font-size: 14px;
        line-height: 18px;
        padding: 14px 40px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 50px;
        width: calc(100% - 160px);
    }
    .logo__container {
        
    }
    .logo {
        display: inline-block;
        width: 130px;
        height: 34px;
        background-image: url('./img/Logo.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__item {
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 1px;
        color: #FFFFFF;
        padding: 12px 15px;
        cursor: pointer;
        transition: all 300ms linear;
    }
    .nav__item:hover{
        background-color: #FFFFFF;
        color: #131316;
        transition: all 300ms linear;
    }
    .registration-container {
        font-size: 0;
    }
    .registration__btn {
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 1px;
        color: #FFFFFF;
        border: none;
        background: transparent;
        padding: 12px 30px;

    }
    .login {
        background: transparent;
    }
    .signup {
        background-color: #4AE290;
    }

    .mission{
        padding: 140px 400px 180px 400px;
    }
    .training-container__title, .price-container__title, .community-container__title, .faq-container__title{
        margin: 0 auto 80px;
    }
    .first-slider .first-slider__img {
        width: 320px !important;
        height: 320px;
        margin-right: 10px;
    }

    .price{
        padding: 180px 80px;
    }
    .price-wrap{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    .price__block{
        padding: 80px 92px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .premium{
        transform: scale(1.1);
    }
    .faq{
        background-image: url('./img/titleBckg/FAQ.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .faq-list{
        padding: 70px 400px 290px 400px;
    }
    .faq-list__item{
        margin-bottom: 16px;
    }

    .prefooter__text {
        top: 74px;
        left: 48%;
    }
    .img-wrap {
        left: 22%;
    }
    .bottom-footer{
        padding: 50px 72px;
    }
}